<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage</title>
    <link rel="stylesheet" href="/css/style.css">
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                   <a href="/turing">Turing</a>
                </li>
                <li>
                   <a href="/hamilton">Hamilton</a>
                </li>
                <li>
                   <a href="/babbage">Babbage</a>
                </li>
                <li>
                   <a href="/berners-lee">Berners-lee</a>
                </li>
                <li>
                   <a href="/clarke">Clarke</a>
                </li>
                <li>
                   <a href="/hopper">Hopper</a>
                </li>
                <li>
                   <a href="/lovelace">Lovelace</a>
                </li>
            </ul>
        </nav>
    </header>
</head>
<body class="home1">
    <main>
        <section>
            <h1>
                Charles Babbage
            </h1>
            <article>
                <p>
                    Hay un debate sobre la fecha y lugar de nacimiento de Babbage. En primer lugar, según Dictionary of National Biography seguramente nació en el número 44 de Crosby Row, Walworth en Londres, Inglaterra. En relación a su fecha de nacimiento, The Times publicó que Babbage nació el 26 de diciembre de 1792 pero un sobrino suyo afirmó que fue un año antes, 1791. El registro de la parroquia St. Mary's en Newington establece que Babbage fue bautizado el 6 de enero de 1792, lo cual puede confirmar que hubiese nacido un año antes.
                </p>
                <p>
                    Matemático e ingeniero británico, inventor de las máquinas calculadoras programables. A comienzos del siglo XIX, bien avanzada la Revolución Industrial, los errores en los datos matemáticos tenían graves consecuencias: por ejemplo, una tabla de navegación defectuosa era una causa frecuente de los naufragios. Charles Babbage creyó que una máquina podía hacer cálculos matemáticos más rápidos y más precisos que las personas.
                </p>
                <p>
                    En 1822 produjo un modelo funcional pequeño de su Difference engine (máquina diferencial). El funcionamiento aritmético de la máquina era limitado, pero podía recopilar e imprimir tablas matemáticas sin mayor intervención humana que la necesaria para girar las manivelas en la parte superior del prototipo.
                </p>
                <p>
                    Babbage es considerado el principal pionero de la informática por su siguiente invención, la máquina analítica o Analytical engine. En su diseño teórico, la máquina analítica contenía ya todas las partes esenciales de la computadora moderna: dispositivo de entrada, memoria, unidad central de procesamiento e impresora. La máquina analítica ha pasado a la historia como el prototipo del ordenador moderno, aunque nunca se construyó un modelo a escala real. Pero, aun si se hubiera construido, la máquina analítica habría sido movida por una máquina de vapor y, debido a sus componentes totalmente mecánicos, su velocidad de cálculo no hubiera sido muy grande.
                </p>
                <p>
                    A finales del siglo XIX, el ingeniero estadounidense Herman Hollerith utilizó una tecnología nueva, la electricidad, cuando sometió a consideración del gobierno de Estados Unidos un proyecto para construir una máquina que fue finalmente utilizada para computar los datos del censo de 1890. Hollerith fundó a continuación la compañía que más tarde se convertiría en IBM.
                </p>
            </article>
        </section>
        <aside>
            <img src="/img/babbage_1.jpg" alt="Imagen de Charles Babbage">
        </aside>
    </main>
    
</body>
</html>